# Compiled Object files
*.slo
*.lo
*.o
*.obj
.kdev*
*.kdev4

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app

# Proto .h .cc
*.pb.cc
*.pb.h

# Depends
#depends.mk
#*_test
output
.build
build
flag_build
third_party
third_src

# examples

# tests

# Tmp
*.kate-swp
